:root {
    --md-admonition-icon--rust: url('/assets/extra/admonitions/rust.svg');
  }
  .md-typeset .admonition.rust,
  .md-typeset details.rust {
    border-color: rgb(247, 82, 8);
  }
  .md-typeset .rust > .admonition-title,
  .md-typeset .rust > summary {
    background-color: rgba(247, 82, 8, 0.1);
  }
  .md-typeset .rust > .admonition-title::before,
  .md-typeset .rust > summary::before {
    background-color: rgb(247, 82, 8);
    -webkit-mask-image: var(--md-admonition-icon--rust);
            mask-image: var(--md-admonition-icon--rust);
  }

  :root {
    --md-admonition-icon--postgresql: url('/assets/extra/admonitions/postgresql.svg');
  }
  .md-typeset .admonition.postgresql,
  .md-typeset details.postgresql {
    border-color: rgb(0, 184, 212);
  }
  .md-typeset .postgresql > .admonition-title,
  .md-typeset .postgresql > summary {
    background-color: rgba(0, 184, 212, 0.1);
  }
  .md-typeset .postgresql > .admonition-title::before,
  .md-typeset .postgresql > summary::before {
    background-color: rgb(0, 184, 212);
    -webkit-mask-image: var(--md-admonition-icon--postgresql);
            mask-image: var(--md-admonition-icon--postgresql);
  }